@model Orkidea.Bretano.WebMiddle.FrontEnd.WebMiddleBackEnd.BusinessPartnerWithholdingTax

@{
    ViewBag.Title = "addTaxes";
}

<script src="~/Scripts/Custom/CustomerTaxesCreate.js"></script>

<div class="container-fluid">
    @using (Html.BeginForm("addTaxes", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <h2>Definir impuestos</h2>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">Cliente</label>
                            <input type="text" class="form-control" value="@ViewBag.cardCode" id="cardCode" />
                        </div>
                        <div class="col-md-8">
                            <label class="control-label">Nombre</label>
                            <input type="text" class="form-control" value="@ViewBag.cardName" id="cardName" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.wtCode, "Impuesto", new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.wtCode, new SelectList(Enumerable.Empty<SelectListItem>()), " ", new { @class = "form-control", style = "max-width:100%" })
                            @Html.ValidationMessageFor(m => m.wtCode, "Requierido", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type='submit' id='upload-files' value=' Agregar ' class="btn btn-info" />
                            | @Html.ActionLink("Terminar", "index", "Home", new { id = ViewBag.customer }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">Impuestos asignados</div>
                        <div class="panel-body">
                            <table id="customerTaxes" class="display" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Nombre</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>                
            </div>

        </div>

        <div class="row">
            @ViewBag.mensaje
        </div>
    }
</div>