@model IEnumerable<Orkidea.Bretano.WebMiddle.FrontEnd.Models.CompanyParameterViewModel>

@{
    ViewBag.Title = "Configurar compañia";
}
<script src="~/Scripts/Custom/CompanySetup.js"></script>

<center><h2>Configurar compañía <strong>@ViewBag.companyName</strong></h2></center>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-horizontal">
            @foreach (var item in Model)
            {
                <div class="form-group">
                    <span class="col-md-6 control-label">@item.label</span>
                    <div class="col-md-3">

                        @switch (item.type)
                        {
                            case "PlainText":
                                <input type="text" class="form-control" id="P-@item.id" value="@item.value" />
                                break;
                            case "EncryptedText":
                            <input type="text" class="form-control" id="P-@item.id" value="@item.value" />
                                break;
                            case "Bit":
                            <select class="form-control" id="P-@item.id">
                                <option value="" selected disabled>Seleccione</option>
                                @if (item.value == "Si")
                                {
                                    <option selected value="Si">Si</option>
                                    <option value="No">No</option>
                                }
                                else if (item.value == "No")
                                {
                                    <option value="Si">Si</option>
                                    <option value="No" selected>No</option>
                                }
                                else
                                {
                                    <option value="Si">Si</option>
                                    <option value="No">No</option>
                                }

                            </select>

                                break;
                            default:
                                break;
                        }

                    </div>
                    <span class="col-md-2 hidden field-validation-error">Requerido</span>
                </div>
            }
            <center><input type="button" value="Guardar" id="btnSave" class="btn btn-primary" /><span> | </span><a href="@Url.Action("index", "Company")">Volver</a></center>
            <div class="setupRes">
                <br />
                <div class="alert alert-success" role="alert">
                    <span id="res">Configuración exitosa</span>
                </div>
            </div>
            
        </div>
    </div>
</div>

<input type="text" style="visibility:hidden" value="@ViewBag.idCompany" id="companyId" />