@model Orkidea.Bretano.WebMiddle.FrontEnd.WebMiddleBackEnd.LightMarketingDocument
@{
    ViewBag.Title = "Details";
    double totalPedido = 0;
}

<script src="~/Scripts/Custom/ordrDetails.js"></script>

<h2>Detalle pedido</h2>
<div class="row">
    <div class="well">
        <div class="row">
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Pedido</label>
                    <input type="text" class="form-control" value="@Model.docNum" id="docNum" style="max-width:100%" disabled />
                    <input type="text" class="form-control" value="@Model.docEntry" id="docEntry" style="max-width:100%; display:none"  />
                </div>
                <div class="col-md-3">
                    <label class="control-label">Cliente</label>
                    <input type="text" class="form-control" value="@Model.cardCode" id="cardCode" style="max-width:100%" disabled />
                </div>
                <div class="col-md-7">
                    <label class="control-label">Nombre</label>
                    <input type="text" class="form-control" value="@Model.cardName" id="cardName" style="max-width:100%" disabled />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Fecha documento</label>
                    <input type="text" class="form-control" value="@Model.docDate.ToString("yyyy-MM-dd")" id="docDate" style="max-width:100%" disabled />
                </div>
                <div class="col-md-2">
                    <label class="control-label">Fecha entrega</label>
                    <input type="text" class="form-control" value="@Model.docDueDate.ToString("yyyy-MM-dd")" id="docDueDate" style="max-width:100%" disabled />
                </div>
                <div class="col-md-2">
                    <label class="control-label">Estatus</label>
                    <input type="text" class="form-control" value="@Model.docStatus" id="docStatus" style="max-width:100%" disabled />
                </div>
                <div class="col-md-2">
                    @if (Model.docStatus == "Abierto")
                    {
                        <input type="button" class="btn btn-danger" value="Cancelar Orden" id="btnCancel" style="margin-top: 25px;" />
                    }
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="well">
        <div class="row">
            <table class="table table-bordered table-striped table_vam" id="dt">
                <thead>
                    <tr>
                        <th>Articulo</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.lines)
                    {
                        double total = item.price * item.quantity;
                        totalPedido += total;
                        
                        
                        <tr>
                            <td>@item.itemCode <span> - </span> @item.itemName</td>
                            <td>@item.quantity</td>
                            <td>@item.price</td>                            
                            <td>@total</td>
                        </tr>
                    }
                </tbody>
            </table>

            <span><strong>Total Pedido: </strong>@ViewBag.total</span>
        </div>
    </div>
</div>