@model IEnumerable<Orkidea.Bretano.WebMiddle.FrontEnd.Models.ORDRViewModel>
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/Custom/ordrIndex.js"></script>

<div class="container-fluid">
    <h2>Pedidos</h2>
    <div class="row">
        @Html.ActionLink("Crear nuevo", "Create", null, new { @class = "btn btn-info" }) | @Html.ActionLink("Volver al home", "Index", "Home")
    </div>
    <br />
    <div class="row">        
        <table id="ordr" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Código</th>                    
                    <th>Cliente</th>                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.docDate.ToString("yyyy-MM-dd")</td>
                        <td>@item.cardCode</td>
                        <td>@item.cardName</td>
                        <td>
                            <a href="@Url.Action("AddLine", new { id = item.id })" class="sepV_a" title="Editar"><i class="fa fa-pencil"></i></a>
                            <span>|</span>
                            <a href="@Url.Action("Remove", new { id = item.id })" title="Eliminar"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

