@model IEnumerable<Orkidea.Bretano.WebMiddle.FrontEnd.Entities.RDR1>
@using System.Globalization
@{
    ViewBag.Title = "ViewOrder";
}

<script src="~/Scripts/Custom/ordrViewOrder.js"></script>

<h2>Detalle pedido</h2>
<div class="row">
    <div class="well">
        <div class="row">
            <div class="form-group">
                <div class="col-md-3">
                    <label class="control-label">Cliente</label>
                    <input type="text" class="form-control" value="@ViewBag.cardCode" id="cardCode" style="max-width:100%" disabled />
                </div>
                <div class="col-md-9">
                    <label class="control-label">Nombre</label>
                    <input type="text" class="form-control" value="@ViewBag.cardName" id="cardName" style="max-width:100%" disabled />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Fecha documento</label>
                    <input type="text" class="form-control" value="@ViewBag.docDate" id="docDate" style="max-width:100%" disabled />
                </div>
                <div class="col-md-2">
                    <label class="control-label">Fecha entrega</label>
                    <input type="text" class="form-control" value="@ViewBag.docDueDate" id="docDueDate" style="max-width:100%" disabled />
                </div>

                <div class="col-md-8" style="padding-top: 25px;">
                    @if (ViewBag.orderApprover)
                    {
                        if (ViewBag.enabled)
                        {
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#approveModal"><i class="fa fa-thumbs-up "></i> Aprobar</button>
                            <span> | </span>

                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectModal"><i class="fa fa-thumbs-down "></i> Rechazar</button>
                            <span> | </span>
                        }
                        @Html.ActionLink("Cancelar", "AuthorizationReport", "SalesOrder", new { @class = "btn btn-danger" })

                        <span> | </span>

                        <a href="#" onclick="return false;" class="btn btn-default" id="paymentState">Estado de cartera</a>
                    }
                </div>

            </div>
        </div>
        <br />
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="control-label">Comentarios internos</label>
                    <p>@ViewBag.draftComments</p>
                </div>
                <div class="col-md-6">
                    <label class="control-label">Comentarios autorizador</label>
                    <p>@ViewBag.authComments</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="well">
        <div class="row">
            <table class="table table-bordered table-striped table_vam" id="dt">
                <thead>
                    <tr>
                        <th>Articulo</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        decimal total = item.price * item.quantity;

                        <tr>
                            <td>@item.itemCode <span> - </span> @item.itemName</td>
                            <td>@item.quantity.ToString("N", CultureInfo.CreateSpecificCulture("es-CO"))</td>
                            <td>@item.price.ToString("N", CultureInfo.CreateSpecificCulture("es-CO"))</td>
                            <td>@total.ToString("N", CultureInfo.CreateSpecificCulture("es-CO"))</td>
                        </tr>
                    }
                </tbody>
            </table>

            <p class="text-right"> Subtotal Pedido: <strong>@ViewBag.totalOrder.ToString("N", CultureInfo.CreateSpecificCulture("es-CO"))</strong></p>
            <p class="text-right"> IVA: <strong>@ViewBag.totalIva.ToString("N", CultureInfo.CreateSpecificCulture("es-CO"))</strong></p>
            <p class="text-right"> Total: <strong>@ViewBag.total.ToString("N", CultureInfo.CreateSpecificCulture("es-CO"))</strong></p>
        </div>
    </div>
</div>

<div class="modal fade" id="paymentModal">
    <div class="modal-dialog modal-lg" style=" width:auto;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Estado de cartera</h4>
            </div>
            <div class="modal-body stockBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="approveModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title">Aprobar Solicitud</h4>
            </div>
            @{ Html.RenderAction("Approve", "SalesOrder", new { id = ViewBag.id });}
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="rejectModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title">Rechazar Solicitud</h4>
            </div>
            @{ Html.RenderAction("Reject", "SalesOrder", new { id = ViewBag.id });}
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->